<div class="login-container">
  <form class="login-card" [formGroup]="userForm" (ngSubmit)="login()">
    <h4>Login</h4>
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input
        type="email"
        class="form-control"
        id="email"
        aria-describedby="emailHelp"
        formControlName="email"
        required
      />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        formControlName="password"
        required
      />
    </div>
    <div class="form-text mb-3" routerLink="/register">
      New user ? Click here to register.
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="userForm.invalid">
      Login
    </button>
  </form>
</div>
