<div class="photos-container row">
  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand">Photos</a>
      <div class="d-flex">
        <button
          type="button"
          class="btn btn-outline-secondary"
          data-bs-toggle="modal"
          data-bs-target="#addPhotoModal"
        >
        <i class="fas fa-solid fa-cloud-arrow-up"></i>
        <!-- <i class="fas fa-solid fa-plus"></i> -->
        Upload Photo
        </button>
        <button
          type="button"
          class="btn btn-outline-secondary"
          (click)="logout()"
        >
          Logout
          <i class="fas fa-light fa-right-from-bracket"></i>
        </button>
      </div>
    </div>
  </nav>

  <div class="row" style="display: flex">
    <div
      *ngFor="let photo of allPhotos"
      class="card col-md-3 col-lg-3 col-sm-3"
      style="width: 18rem; margin: 5px 5px"
      (mouseenter)="photo.showButton = true"
      (mouseleave)="photo.showButton = false"
    >
      <div class="image-container">
        <img [src]="photo.blobImage" class="card-img-top" alt="..." />
        <span class="delete-icon-container" (click)="deletePhoto(photo.id)">
          <i class="fas fa-trash trash-icon"></i>
        </span>
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ photo.title }}</h5>
        <p class="card-text">
          {{ photo.description }}
        </p>
        <!-- *ngIf="photo.showButton" -->
        <!-- <button class="btn btn-primary" (click)="deletePhoto(photo.id)">
          Delete
        </button> -->
      </div>
    </div>
  </div>
</div>

<div
  #addPhotoModal
  class="modal fade"
  id="addPhotoModal"
  tabindex="-1"
  aria-labelledby="addPhotoModalLabel"
  aria-hidden="true"
>
  <app-add-photo (updateImageDataEvent)="getPhotos()"></app-add-photo>
</div>
