<div class="login-container">
  <form class="login-card" [formGroup]="userForm" (ngSubmit)="register()">
    <h4>Register</h4>
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        formControlName="name"
        required
      />
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input
        type="email"
        class="form-control"
        id="email"
        aria-describedby="email"
        formControlName="email" autocompletetype="off"
        required
      />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        formControlName="password" autocompletetype="new-password"
        required
      />
    </div>
    <div class="form-text mb-3">
      Already registered ? Click here to <span routerLink="/login">Login</span>.
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
  </form>
</div>
