.photos-container {
    display: flex;
    margin: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    .card {
        width: 18rem;
        margin: 5px 5px
    }

    .photos-section {
        display: flex;
        justify-content: flex-start;
        margin-left: 1.3em;

        .card-body {
            position: relative;
        }

        .card-body .btn-primary {
            position: absolute;
            top: 5px;
            right: 5px;
        }

        .selection-checkbox {
            position: absolute;
            top: 11px;
            right: 2px;
            cursor: pointer;
            border-radius: 50%;
            padding: 2px;
        }

        .selected-image {
            filter: brightness(0.5);
        }

        .enable-selection {
            cursor: pointer;
        }

        .upload-image-card {
            width: 18rem;
            cursor: pointer;
            font-size: 74px;
            color: darkgray;

            .card-body {
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
            }
        }

        .image-container {
            height: 200px;
            overflow: hidden;
            justify-content: center;
            display: flex;
            padding: 10px;
            position: relative;
        }

        .image-container img {
            height: 100%;
            width: auto;
            object-fit: cover;
        }
    }
}

.spinner-container {
    display: flex;
    height: 89vh;

    .spinner-border {
        width: 3rem;
        height: 3rem
    }

    .justify-content-center {
        align-items: center;
    }
}