<div class="photos-container row">
  <!-- Navbar -->
  <app-navbar
    [allPhotos]="allPhotos"
    [selectedPhotos]="selectedPhotos"
    [isSelectionEnabled]="isSelectionEnabled"
    [actionBtn]="actionBtn"
    (deletePhotosEvent)="deletePhotos()"
    (downloadPhotosEvent)="downloadPhotos()"
    (selectActionEvent)="selectActionClicked()"
  ></app-navbar>

  <!-- Photos section -->
  <div
    class="row photos-section"
    *ngIf="!spinnerService.isSpinnerVisible"
  >
    <!-- Upload new image card -->
    <div
      class="card col-md-3 col-lg-3 col-sm-3 upload-image-card"
      data-bs-toggle="modal"
      data-bs-target="#addPhotoModal"
      *ngIf="isProfileEnabled"
    >
      <div class="card-body">
        <i class="fa-sharp fa-solid fa-plus"></i>
        <h5 class="card-title">Upload Photo</h5>
      </div>
    </div>

    <!-- Uploaded images -->
    <ng-container *ngIf="allPhotos.length > 0">
      <div
        *ngFor="let photo of allPhotos"
        class="card col-md-3 col-lg-3 col-sm-3 enable-selection"
        [ngClass]="{
          'selected-image': photo.checked
        }"
        (click)="
          isSelectionEnabled
            ? onPhotoDivClick(photo)
            : openPhotoDetailsModal(photo)
        "
      >
        <div class="image-container">
          <img [src]="photo.blobImage" class="card-img-top" alt="..." />
          <div class="selection-checkbox" *ngIf="isSelectionEnabled">
            <input
              class="form-check-input"
              type="checkbox"
              id="checkboxNoLabel"
              aria-label="photoCheckbox"
              style="cursor: pointer"
              [(ngModel)]="photo.checked"
              (change)="onphotoSelect(photo)"
            />
          </div>
        </div>
        <div class="card-body">
          <h5 class="card-title description-container">{{ photo.title }}</h5>
          <p class="card-text description-container">
            <ng-container *ngIf="!isProfileEnabled">
              <span style="font-size: 14px">@ </span>
              <span style="color: blue; font-weight: 400"
                >{{ photo.username }}
              </span></ng-container
            >
            <ng-container *ngIf="isProfileEnabled">{{ photo.description }}</ng-container>
          </p>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<!-- Add new photo modal -->
<div
  #addPhotoModal
  class="modal fade"
  id="addPhotoModal"
  tabindex="-1"
  aria-labelledby="addPhotoModalLabel"
  aria-hidden="true"
>
  <app-add-photo (updateImageDataEvent)="getPhotos()"></app-add-photo>
</div>
