.login-container {
    display: flex;
    place-items: center;
    justify-content: center;
    min-width: 320px;
    min-height: 100vh;
}

.login-card {
    padding: 2em;
    background: ghostwhite;
    box-shadow: 0 2px 8px;
    border-radius: 10px;
}

.form-text {
    cursor: pointer;
}