<div class="login-container">
  <div style="margin-bottom: 15px;">
    <h4>Sign in to PicPantry</h4>
  </div>
  <form class="login-card" [formGroup]="userForm" (ngSubmit)="login()">
    <!-- <h4>Login</h4> -->
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input
        type="email"
        class="form-control"
        id="email"
        aria-describedby="emailHelp"
        formControlName="email"
        required
      />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        formControlName="password"
        required
      />
    </div>
    <div class="form-text mb-3">
      New user ? Click here to <span routerLink="/register">Register</span>.
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="userForm.invalid">
      Login
    </button>
  </form>
</div>
