.navbar {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: 15px;
    .container-fluid {
        margin: 0 0.5em 0 1em;
    }
    .btn {
        margin: 0 3px;
        border-radius: 25px;
    }
    .dropdown-item {
        cursor: pointer;
    }
    .navbar-brand {
        cursor: pointer;
    }
}