<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" (click)="showFeed()">
      PicPantry</a
    >
    <div class="d-flex">
      <!-- Select/Cancel button -->
      <div [hidden]="allPhotos.length == 0">
        <button
          type="button"
          class="btn btn-secondary"
          (click)="selectActionClicked()"
        >
          {{ actionBtn }}
        </button>
      </div>

      <!-- Delete & Download buttons -->
      <div [hidden]="!isSelectionEnabled || allPhotos.length == 0">
        <button
          type="button"
          class="btn btn-info"
          aria-label="deletePhotos"
          title="Delete selected Photos"
          data-bs-toggle="tooltip"
          data-bs-placement="left"
          (click)="deletePhotos()"
          *ngIf="isProfileEnabled"
        >
          <i class="fas fa-trash trash-icon"></i>
        </button>
        <button
          type="button"
          class="btn btn-info"
          aria-label="downloadPhotos"
          title="Download selected Photos"
          data-bs-toggle="tooltip"
          data-bs-placement="left"
          (click)="downloadPhotos()"
        >
          <i class="fa-solid fa-download"></i>
        </button>
      </div>

      <!-- User profile dropdown -->
      <div class="btn-group" dropdown>
        <button
          id="button-basic"
          dropdownToggle
          type="button"
          class="btn btn-secondary dropdown-toggle"
        >
          <i class="fa-solid fa-user"></i> Hi, {{ currentUserName | titlecase }}
          <span class="caret"></span>
        </button>
        <ul
          id="dropdown-basic"
          *dropdownMenu
          class="dropdown-menu dropdown-menu-right"
          role="menu"
          aria-labelledby="button-basic"
        >
          <li role="menuitem">
            <a
              class="dropdown-item"
              (click)="isProfileEnabled ? showFeed() : showProfile()"
            >
              {{ isProfileEnabled ? "Feed" : "Profile" }}
            </a>
          </li>
          <li role="menuitem">
            <a class="dropdown-item" (click)="logout()"
              >Logout
              <i class="fas fa-light fa-right-from-bracket"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
